<!-- homepage: input original url -->
<form action="/submit" method="POST" style="display: inline;">
  <label for="url-input">Original URL:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="http://XXX.com" aria-label="Your website URL"
      aria-describedby="button-addon" id="url-input" name="url" required>
    <button class="btn btn-primary" type="button submit" id="button-addon">Transmit</button>
  </div>
</form>